body {
  font-family: sans-serif;
}

.title {
  text-align: center;
}

#poke-form {
  font-family: monospace;
}

#poke-form label {
  display: block;
  margin-bottom: 10px;
}

#poke-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #ffffff;

  border: solid 1px #00000030;
  border-radius: 5px;

  font-family: monospace;
}

.poke-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 10px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pokemon {
  border: solid 1px #00000010;
  border-radius: 5px;
  padding: 20px;

  box-shadow: 2px 2px 5px 0 #00000030;
}

.pokemon img {
  width: 100%;
  max-height: 150px;
}

.pokemon h2 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: minmax(300px, 1200px);
  justify-content: center;

  height: 100vh;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2 {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 375px);
  gap: 15px;
  justify-content: center;
  justify-items: center;
  list-style: none;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.card {
  width: 100%;
  justify-self: center;

  border: 1px solid #252525;
  border-radius: 8px;

  cursor: pointer;
  transition: all 300ms;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card--text {
  margin: 0.2rem;
  padding: 1rem;

  border-radius: 5px;
}

.card--img {
  display: block;
  margin: 0 auto;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.delete-button, .update-button {
  margin: 10px;
}

.update-form label {
  display: block;
  margin: 10px;
}