body {
  font-family: sans-serif;
  background-color: aliceblue;
}

.title {
  text-align: center;
}

.poke-form {
  font-family: monospace;
  padding: 1rem;
}

.poke-form label {
  display: block;
  margin-bottom: 10px;
}

.poke-form input[type="submit"], .deleteButton, .likeButton {
  padding: 10px 20px;
  background-color: #ffffff;

  border: solid 1px #00000030;
  border-radius: 5px;

  font-family: monospace;
}

.poke-form input[type="submit"]:hover, .likeButton:hover {
  background-color: aliceblue;
}

.deleteButton {
  background-color: lightcoral;
}

.deleteButton:hover {
  background-color: lightpink;
}

.poke-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 10px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pokemon {
  border: solid 1px #00000010;
  border-radius: 5px;
  padding: 20px;

  box-shadow: 2px 2px 5px 0 #00000030;

  text-align: center;
}

.pokemon img {
  width: 100%;
  max-height: 150px;
}

.pokemon h2 {
  text-align: center;
}

.container {
  padding: 2rem;
  width: 42rem;
  margin: 0 auto;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 1rem;
}

#editWarning {
  color: red;
}

.editMode {
  background-color: lightpink;
  padding: 1rem;
  border-radius: 0.5rem;
}

img.liked, img.notLiked{
  width: 20px;
}

.notLiked {
  display: none;
}

.liked {
  display: block;
}

